h1 {
    background: white;
    font-size: 45px;
    line-height: 45px;
    padding: 20px;
}

h2 {
    background: white;
    font-size: 30px;
    line-height: 30px;
    padding: 30px;
}

h4 {
    color:black;
}

p {
    color: black;
}

body {
    background-image: url("../images/background.png");
}